.btn:focus{
    padding: 10px;
    border: 5px solid blue;
}

.nxt-btn{
    width: 20%;
    padding: 7px;
    font-size: 1rem;
    background: var(--primary-color);
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px 0;
    border: 1px;
    float: right;
}

.pre-btn{
    width: 20%;
    padding: 7px;
    font-size: 1rem;
    background: var(--primary-color);
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px 0;
    border: 1px;
    float: left;
}