*{
    margin: 0;
    padding: 0;
}

:root{
    --fs: 1.5rem;
}

body{
    display: flex;
    flex-basis: 70%;
}

.left-panel{
    width: 25%;
    max-width: 270px;
    height: 98vh;
    background: cornsilk;
}

.leaf{
    text-transform: capitalize;
    background: green;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px 0;
}

.leaf a{
    color: white;
    text-decoration: none;
    padding: 2px;
}

.right-panel{
    width: 78%;
    height: 98vh;
    /* background-color: red; */
}

.content{
    padding: 40px;
}

.p__content{
    font-size: var(--fs);   
}